*
body {
    background-color: lightblue;
  }
  
  #myPage {
    display: block;
    
  }
  
  h1 {
    color:green;
    font-size: 50px;
    line-height: 62px;
    font-family: 'Trebuchet MS';
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #mainNav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #mainNav li {
    display:inline-block;
    border-right:3px solid #bbb;
  }
  
  #mainNav li:last-child {
    border-right: none;
  }
  
  #mainNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
  }
  
  #mainNav li a:hover:not(.active) {
    background-color: #111;
  }
  
  #mainNav .active {
    background-color: #4CAF50;
  }
  h2 {
    color: #111;
    font-size: 30px;
    line-height: 40px;
    font-family: Helvertica;
    text-align: center;

  }

  *
{
	padding:0;
	margin: 0;
}

header{
    margin-bottom:2em;
}

footer {
    margin-top:2em;
}


.box {
    /* width:calc(25% - 2.2em); */
    widows: 20%;
	  border:solid #e0fffc .1em;
    margin: 1em;
    background-color:rgb(241, 213, 241);
    font-size: 1em;
 }

#boxContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    background-color:#6200ee;
    padding: 0;
    margin: 0;  
}

#first{
    order: 3;
}

#second{
    order: 6;
}

h4 {
  color: #111;
  font-size: 25px;
  font-family: Cambria;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: yellowgreen;
}

.footer {
  position: bottom;
  left: 0;
  bottom: o;
  height: 45px;
  width: 100%;
  background-color:rgb(65, 62, 62);
  color: white;
  text-align: left;
}


  
